body {
    background-image: url('./Photos/pine-texture.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:70px;
    margin-left: 100px;
    margin-right: 100px;
    display: block;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 130px;
    margin-left: 100px;
    margin-right: 100px;
}
  
   .box1,
   .box2,
   .box3 {
    margin-top: 100px;
    margin-bottom: 50px;
    border: 5px solid rgba(83, 43, 22, 0.979) ;
    border-bottom: 6px solid  rgba(58, 31, 16, 0.988) ; 
    border-top-left-radius: 130px;
    border-top-right-radius: 130px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 22px;
    box-sizing: border-box;
    height: 220px;
    width: 235px;
    font-size: 340px;
    color: rgba(168, 26, 26, 0.925);
    transition: all 0.7s ease-in-out 0.2s;
    position: relative;
    display: flex;
    align-items:center;
    justify-content: center;
    background: radial-gradient(circle at 100px 100px, rgba(153, 103, 42, 0.315), rgba(82, 45, 8, 0.924) );
    box-shadow: 14px 0px 10px rgba(65, 63, 63, 0.274);
  }

 
  .box1:hover{
     width: 243px;
     height: 237px;
     border-top-left-radius: 127px;
     border-top-right-radius: 127px;
     border-bottom: 8px solid rgba(45, 23, 11, 0.986) ;
     
  }
  .box2:hover{
     width: 243px;
     height: 237px;
     border-top-left-radius: 127px;
     border-top-right-radius: 127px;
     border-bottom: 8px solid rgba(45, 23, 11, 0.986) ;
    
  }
  .box3:hover{
     width: 243px;
     height: 237px;
     border-top-left-radius: 127px;
     border-top-right-radius: 127px;
     border-bottom: 8px solid rgba(45, 23, 11, 0.986) ;

  }

  
  .h1wrapper{ 
    display:flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width:  920px;
    margin: auto;
    text-align: center;
    transition: all 0.7s ease-in-out 0.5s;
    background-color: rgba(78, 53, 22, 0.856);
    border: 4px solid rgba(97, 64, 24, 0.863);
    border-radius: 10px;
    box-shadow: 18px 18px 14px rgba(128, 128, 128, 0.568);
    margin-top: -30px;
   
  }

  h1{
    color: rgb(202, 143, 71);
    /* font-size: 35px; */
    animation: mymove 3s infinite; 
   
  }

  .btn{
    height: 50px;
    font-size: 20px;
    border: 4px solid  rgba(36, 26, 11, 0.877);
    border-radius: 10px;
    background-color: rgba(85, 53, 14, 0.694);
    margin:auto;
    margin-top: 50px;
    display:flex;
    align-items: center;
    font-weight: bolder;
    color:white;
    box-shadow: 14px 14px 10px rgba(49, 48, 48, 0.26);
  }

  p{
    font-size: 45px;
    font-weight: bolder;
    text-align:center;
    color:rgba(61, 38, 4, 0.849);
  }

  
  
  
.score {
    font-size: 30px;
    color: rgba(61, 38, 4, 0.849); 
    text-align: end;
    margin-top: -28px;
    width: 255px;
    margin-left:1080px;
    text-align: left;
  }
  
  
  
.name {
    font-size: 30px;
    color:rgba(61, 38, 4, 0.849);
    text-align: end;
    margin-top: -40px;
    width: 255px;
    margin-left:1080px;
    text-align: left;
  }
 
@keyframes mymove {
    from {font-size: 20px;}
    to {font-size: 40px;}
  }


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

@keyframes move {
    0%   { left: 0px; top:0px;}
    25%  { left: 0px; top:0px;}
    50%  { left: 360px; top:0px;}
    75%  { left: 360px; top:0px;}
    100% { left: 0px; top:0px;}
  }


@keyframes move2 {
    0%   { right: 0px; top:0px;}
    25%  { right: 0px; top:0px;}
    50%  { right: 0px; top:0px;}
    75%  { right: 340px; top:0px;}
    100% { right: 0px; top:0px;}
  }


@keyframes move3 {
    0%   { right:  0px; top:0px;}
    25%  { right:  0px; top:0px;}
    50%  { right:  0px; top:0px;}
    75%  { right:  390px; top:0px;}
    100% { right:  0px; top:0px;}
  }
    
  
.navbar{
       margin-top: -50px;
       
    }

.link{
    font-size: 35px;
    font-weight: bolder;
    font-family: 'roman';
    text-decoration: none;
    margin: 20px;
    color: rgb(105, 71, 9);
  }

.about{
    margin-top:100px;
    text-align: center;
    font-size: 38px;
    font-weight: 500;
    color: rgb(71, 51, 10)
  }

  
.form1{
    border: 5px solid rgba(53, 36, 7, 0.904);
    border-radius:10px;
    margin:auto;
    width:250px;
    height: 350px;
    text-align: center;
    background-color:  rgba(87, 50, 8, 0.644);
    box-shadow: 14px 14px 10px rgba(49, 48, 48, 0.363);
  }

  input{
    display:block;
    margin: auto;
    margin-top: 20px;
    height: 27px;
    width:170px;
    background-color: rgba(226, 195, 160, 0.883);
    color: rgb(61, 38, 4);
    font-size: 17px;
    
  }

.btn1, .btn2{
    height: 30px;
    width: 80px;
    margin:10px;
    margin-top: 30px;
    border-radius:5px;
    background-color:  rgba(82, 55, 22, 0.863);
    color:white;
    font-size: 15px;
    font-weight: bolder;
    border:3px solid rgba(56, 38, 16, 0.911);
  }

.home{
    display:block;
  }

 
 
   @media only screen and (max-width: 1000px) {

        .link{
         
         margin-bottom: 30px;   
         font-size: 35px;
       
        }

        .navbar{
          margin-top: -160px;
          margin-bottom: 40px;
        }

        


       body{
          height: 670px;
          width:auto;
          margin-left: 0px;
          margin-right: 0px;
          margin-top:0px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .wrap {
         width:0px;
        }

        
        .h1wrapper {

          width:  360px;
          height: 30px;
          margin:auto;
          margin-top: 10px;
          
        }

        p{
          font-size: 20px;
          text-align: center;
          margin-bottom: 40px;
          margin-left: 0px;
          margin-right: 0px;
       }

       
       .whichCup{
        width: 370px;
        font-size: 25px;
        margin:auto;
        margin-top:25px;
        }

      .box1,
      .box2,
      .box3{
        margin-top: 40px;
        margin-bottom: 0px;
        height: 90px;
        width: 90px;
        font-size: 85px;
        border:2px solid rgba(45, 23, 11, 0.829) ;
      

      }

       .name,
       .score{
         width:200px;
         margin: 5px;
         font-size:24px;
       }

      .about{
        font-size:22px;
      }
  
      .container{
        grid-gap: 40px;
        margin-left: 10px;
      }

      
      .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width:100px;
        height: 40px;
        margin-top: 40px;
        font-size: 15px;
        margin-left: 130px;
        
      }
      
      
    @keyframes move {
        0%   { left: 0px; top:0px;}
        25%  { left: 0px; top:0px;}
        50%  { left: 125px; top:0px;}
        75%  { left: 125px; top:0px;}
        100% { left: 0px; top:0px;}
      }
    
    
    @keyframes move2 {
        0%   { right: 0px; top:0px;}
        25%  { right: 0px; top:0px;}
        50%  { right: 0px; top:0px;}
        75%  { right: 150px; top:0px;}
        100% { right: 0px; top:0px;}
      }
    
    
    @keyframes move3 {
        0%   { right:  0px; top:0px;}
        25%  { right:  0px; top:0px;}
        50%  { right:  0px; top:0px;}
        75%  { right:  135px; top:0px;}
        100% { right:  0px; top:0px;}
      }
    
      @keyframes mymove {
        from {font-size: 5px;}
        to {font-size: 27px;}
      }
      
      
    .box1:hover{
        width: 100px;
        height: 100px;
        border-top-left-radius: 127px;
        border-top-right-radius: 127px;
        border-bottom: 4px solid rgba(45, 23, 11, 0.986) ;
        
     }
     
    .box2:hover{
        width: 100px;
        height: 100px;
        border-top-left-radius: 127px;
        border-top-right-radius: 127px;
        border-bottom: 4px solid rgba(45, 23, 11, 0.986) ;
       
     }
   
     
    .box3:hover{
        width: 100px;
        height: 100px;
        border-top-left-radius: 127px;
        border-top-right-radius: 127px;
        border-bottom: 4px solid rgba(45, 23, 11, 0.986) ;
   
     }
    
  }


